Course_1_Getting started with TensorFlow 2/SVHN_dataset
Course_1_Getting started with TensorFlow 2/week_4_Eurosat_dataset
Course_1_Getting started with TensorFlow 2/Tensorflow_2_week_5_Capstone_Project.pdf

Course_2_Customising your models with TensorFlow 2/data
Course_2_Customising your models with TensorFlow 2/Capstone Project.pdf
Course_3_Probabilistic Deep Learning with TensorFlow 2